/* === GLOBAL RESET === */
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* === CONTAINER === */
.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

/* === HEADER === */
.page-header {
    border-bottom: 1px solid #e7e9fc;
}

.head-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding: 24px 0;
    margin-right: 76px;
}

.header-logo .logo-part {
    color: #2e2f42;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

/* === CONTACTS IN HEADER === */
.contacts {
    font-style: normal;
    margin-left: auto;
}

.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding: 24px 0;
}

.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

/* === HERO SECTION === */
.page-hero {
    background-color: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
    max-width: 496px;
    margin: 0 auto 48px;
}

.hero-button {
    background-color: #4d5ae5;
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    border-radius: 4px;
    padding: 16px 32px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    min-width: 169px;
    height: 56px;
    display: block;
    margin: 0 auto;
    text-wrap: nowrap;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}

/* === SECTION: OUR WORK === */
.our-work {
    padding-top: 120px;
    padding-bottom: 120px;
}

.our-work-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;
    text-align: center;
}

.our-work-list {
    display: flex;
    align-items: center;
    gap: 24px;
}

.our-work-item {
    width: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
}

.list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.our-work-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* === SECTION: OUR TEAM === */
.our-team {
    background-color: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
}

.our-team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    align-items: center;
    gap: 24px;
}

.team-item {
    background-color: #fff;
    width: calc((100% - 72px) / 4);
    box-shadow:
        0 2px 1px rgba(46, 47, 66, 0.08),
        0 1px 1px rgba(46, 47, 66, 0.16),
        0 1px 6px rgba(46, 47, 66, 0.08);
    border-radius: 0 0 4px 4px;
}

.team-contant-container {
    padding: 32px 0;
    align-items: center;
}

.team-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;text-align: center;
}

/* === SECTION: PORTFOLIO === */
.section-portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}
.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-item {
    max-width: calc((100% - 48px) / 3);
}

.portfolio-cart-contant {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-item-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* === FOOTER === */
.page-footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-container {
    max-width: 264px;
    align-content: start;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
    display: inline-block;
}

.footer-logo .logo-part {
    color: #f4f4fd;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}